includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
    tmpDir: storage/framework/cache/phpstan
